.bottomSns {
  color: #3B4043;
  text-align: center;
  padding: 87px 4.2% 107px;
  box-sizing: border-box;
  &__heading {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #B1B1B1;
    letter-spacing: 5px;
    margin-bottom: 84px;
  }
  &__list {
    margin-bottom: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    margin-right: 94px;
    &:first-child {
      width: 38px;
    }
    &:last-child {
      width: 75px;
      margin-right: 0;
    }
  }
  &__desc {
    font-size: 30px;
    line-height: 1.6;
  }
}
