.newslist {
  padding: 125px 0 195px;
  @media (max-width: 700px) {
    padding: 33px 0 57px;
  }
  &__heading {
    margin-bottom: 40px;
    padding: 0 72px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 700px) {
      text-align: center;
      margin-bottom: 29px;
      display: block;
    }
    &__en {
      font-size: 86px;
      font-weight: bold;
      font-family: 'Noto Sans', sans-serif;
      margin-right: 101px;
      @media (max-width: 700px) {
        font-size: 38px;
        margin-right: 0;

      }
    }
    &__desc {
      font-size: 26px;
      padding-top: 20px;
      @media (max-width: 700px) {
        font-size: 12px;
      }
    }
  }
  &__listBlock {
    padding: 93px 73px 161px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    @media (max-width: 700px) {
      padding: 22px 21px 107px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__list {
    margin-bottom: 182px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 700px) {
      margin-bottom: 108px;
      display: block;
    }
  }
  &__item {
    width: 48%;
    margin-bottom: 113px;
    @media (max-width: 700px) {
      width: 100%;
      margin-bottom: 57px;
    }
    &:nth-last-child(-n+2) {
      margin-bottom: 0;
      @media (max-width: 700px) {
        margin-bottom: 57px;
      }
    }
    &:last-child {
      @media (max-width: 700px) {
        margin-bottom: 0;
      }
    }
    &__heading {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.6;
      margin-bottom: 30px;
      @media (max-width: 700px) {
        font-size: 18px;
        margin-bottom: 18px;
      }
      @media (max-width: 368px) {
        font-size: 16px;
      }
    }
  }
  &__link {
    display: block;
    &:hover {
      opacity: .6;
    }
  }
  &__img {
    margin-bottom: 44px;
    @media (max-width: 700px) {
      margin-bottom: 15px;
    }
    & > div {
      border-radius: 10px;
      display: block!important;
      img {
        width: 100%!important;
        height: auto!important;
      }
    }
  }
  &__category {
    display: flex;
    justify-content: flex-start;
    &__item {
      font-size: 20px;
      color: #fff;
      margin-bottom: 30px;
      padding: 12px 21px;
      border-radius: 4px;
      box-sizing: border-box;
      display: inline-block;
      background-color: #3B4043;
      @media (max-width: 700px) {
        font-size: 12px;
        margin-bottom: 12px;
        padding: 6px 15px;
      }
    }
  }
  &__tag {
    display: flex;
    justify-content: flex-start;
    &__item {
      margin-right: 32px;
      @media (max-width: 700px) {
        margin-right: 12px;
      }
    }
    &__link {
      font-size: 18px;
      display: inline-block;
      @media (max-width: 700px) {
        font-size: 14px;
      }
      &:hover {
        opacity: .6;
      }
    }
  }
}

.newsdetail {
  &__container {
    padding: 46px 80px 165px;
    box-sizing: border-box;
    @media (max-width: 700px) {
      padding: 28px 21px 223px;
    }
    @media (max-width: 368px) {
      padding-bottom: 165px;
    }
    @media (max-width: 320px) {
      padding-bottom: 57px;
    }
  }
  &__heading {
    margin-bottom: 110px;
    padding-bottom: 32px;
    border-bottom: 1px solid #707070;
    @media (max-width: 700px) {
      margin-bottom: 63px;
      padding-bottom: 27px;
    }
    &__top {
      margin-bottom: 47px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 700px) {
        margin-bottom: 12px;
      }
    }
    &__category {
      font-size: 20px;
      color: #fff;
      text-align: center;
      min-width: 102px;
      padding: 10px;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #3B4043;
      @media (max-width: 700px) {
        font-size: 12px;
        min-width: 102px;
        padding: 6px 15px;
      }
    }
    &__time {
      font-size: 18px;
      color: #7E7F80;
      @media (max-width: 700px) {
        font-size: 12px;
      }
    }
    &__title {
      font-size: 40px;
      font-weight: bold;
      line-height: 1.6;
      max-width: 868px;
      width: 100%;
      margin-bottom: 50px;
      @media (max-width: 700px) {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 700px) {
        align-items: flex-start;
      }
    }
    &__hashList {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 700px) {
        width: calc(100% - 60px);
        box-sizing: border-box;
      }
    }
    &__hashItem {
      margin-right: 39px;
      @media (max-width: 700px) {
        margin-right: 12px;
      }
    }
    &__hashLink {
      font-size: 18px;
      @media (max-width: 700px) {
        font-size: 14px;
      }
    }
    &__snsList {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 700px) {
        width: 25px;
        flex-direction: column;
      }
    }
    &__snsItem {
      margin-right: 53px;
      @media (max-width: 700px) {
        margin-right: 0;
        margin-bottom: 25px;
      }
      &:first-child {
        max-width: 22px;
        @media (max-width: 700px) {
          max-width: 12px;
          margin-bottom: 0;
          order: 2;
        }
      }
      &:last-child {
        max-width: 44px;
        margin-right: 0;
        @media (max-width: 700px) {
          max-width: 25px;
          order: 1;
        }
      }
    }
    &__snsImg {
      img {
        width: 100%!important;
        height: auto!important;
      }
    }
  }
  &__content {
    margin-bottom: 155px;
    @media (max-width: 700px) {
      margin-bottom: 65px;
    }
    h2 {
      font-size: 38px;
      font-weight: bold;
      line-height: 1.8;
      padding-right: 78px;
      box-sizing: border-box;
      @media (max-width: 700px) {
        font-size: 18px;
        padding-right: 0;
      }
    }
    h3 {
      font-size: 30px;
      font-weight: bold;
      line-height: 1.8;
      padding-right: 78px;
      box-sizing: border-box;
      @media (max-width: 700px) {
        font-size: 16px;
        line-height: 2.0;
        padding-right: 0;
      }
    }
    p {
      font-size: 24px;
      line-height: 2.2;
      padding-right: 78px;
      box-sizing: border-box;
      @media (max-width: 700px) {
        font-size: 14px;
        padding-right: 0;
      }
    }
    div {
      display: block!important;
      img {
        width: 100%!important;
        height: auto!important;
      }
    }
    &__link {
      text-align: right;
      padding-right: 78px;
      box-sizing: border-box;
      @media (max-width: 700px) {
        padding-right: 0;
      }
      a {
        font-size: 26px;
        display: inline-block;
        @media (max-width: 700px) {
          font-size: 14px;
        }
      }
    }
  }
}


