.privacyPolicy {
  padding: 129px 83px 255px 0;
  box-sizing: border-box;
  &__heading {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 219px;
  }
  &__desc {
    padding: 114px 92px 370px;
    box-sizing: border-box;
    background-color: #F8F8F8;
  }
  &__text {
    font-size: 24px;
    line-height: 1.8;
    margin-bottom: 83px;
  }
}



